* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  background: -webkit-linear-gradient(#083b4c, #0a433f);
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  /*background-image: url('pics/venom1.jpeg');*/
  background-blend-mode: multiply;
  background-size: cover;
  margin: 0;
  font-size: 1.5rem;
  text-align: center;
  color: aliceblue;
}

h1 {
  padding: 1rem 0;
  margin: 0 auto;
  font-weight: 400;
  color: white;
}

/* JOHNS TO DO LIST HEADING */
main h1 {
  text-align: center;
}
form {
  display: inline;
  justify-items: center;
}

input,
select {
  flex: 1 1 0%;
  background-color: aliceblue;
  border-radius: 0.6rem;
  font-weight: 600;
  font-size: 1.25rem;
  max-width: 400px;
  width: 100%;
  margin: 0 auto;
  color: #083b4c;
  margin: auto;
  height: 3rem;
  padding: 0.4em;
}
button {
  background-color: aliceblue;
  font-weight: 600;
  font-size: 1.25rem;
  border-radius: 0.6rem;
  padding: 0.5rem;
  height: 3rem;
}
#center_input {
  justify-content: center;
}

button:hover {
  color: #c20c0c;
  opacity: 0.8;
}
/* HEADER
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: aliceblue;
  background-color: rgb(44, 66, 85);
  padding: 0.5rem 1rem;
  border-bottom-left-radius: 1rem;
  border-bottom-right-radius: 1rem;
  max-width: 800px;
  margin: 0 auto;
}

.profile {
  display: flex;
  align-items: center;
} */
#resultbox {
  background-color: none;
  color: rgb(240, 248, 255);
  margin-top: 1rem;
  background-color: hsla(195, 52%, 24%, 0.355);
  opacity: 0.9;
  box-sizing: border-box;
  text-align: left;
  min-height: 10%;
  margin: 2% 10% 0 10%;
  padding: 1% 2.5%;
  border-radius: 1rem;
}

/*Navbar*/
